* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $sap-font-family;
    line-height: 1.5;
    color: $sap-text;
    background: $sap-bg;
    min-height: 100vh;
}
